body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* index.css */

/* Add margin and padding to the blog post container */
.blog-post {
  
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 20px;      /* Space inside the blog post container */
  margin: 20px 20px;     /* Space between the blog posts */
  transition:1.5s ease-in-out;
}

.blog-post:hover{
  background: linear-gradient(to right, rgb(176, 220, 255), rgb(183, 255, 255));
}

h1{
  margin: 20px 20px;
}

/* Add margin to the title */
h2 {
  color: #333;
  margin-bottom: 15px; /* Space below the title */
}

/* Add margin to the paragraph text */
p {
  color: #555;
  margin-bottom: 10px; /* Space below each paragraph */
}

/* Add padding to links */
a {
  color: #007bff;
  text-decoration: none;
  padding: 5px 10px;   /* Padding inside the link */
  margin-top: 10px;    /* Space above the link */
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}
