/* Navbar.css */
.navbar {
  margin-bottom: 20px;
  background: linear-gradient(to right, rgb(20, 149, 255), rgb(0, 168, 168));
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-radius: 28px; */
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  text-decoration: underline;
}